/* PAGINATION ANIMATION  */

.animate-pagination.ng-enter {
  -webkit-animation: enter_sequence 0.6s linear;
  animation: enter_sequence 0.6s linear;
}

@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

/* MESSAGE ANIMATION */

.animate-message-panel.ng-hide {
  -webkit-animation: leave_sequence 1s linear;
  animation: leave_sequence 1s linear;
}

@-webkit-keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}

/* TABS ANIMATION */

.tab-animation > .tab-content {
    position: relative;
}

.tab-animation > .tab-content > .tab-pane{
    transition: 0.1s linear opacity;
}

.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}

/* SPIN ANIMATION */

.spin {
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin .8s infinite linear;
     -moz-animation: spin .8s infinite linear;
     -o-animation: spin .8s infinite linear;
     animation: spin .8s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}