<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%t] [%date{ISO8601}] [%-30logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	<!--
	<appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>context</key>
			<defaultValue>common</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${context}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>./target/logs/biller-${context}.log</file>
				<append>true</append>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>./target/logs/biller-${context}.%d{yyyy-MM-dd}.log</fileNamePattern>
					<maxHistory>90</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] - %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	-->
	<logger name="com.cnp.sinister.italy" level="DEBUG" />
	<logger name="org.quartz" level="WARN" />
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<!--appender-ref ref="FILE" / -->
	</root>
</configuration>
