<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:replace="fragments/header :: header">
</head>

<body ng-app="rolemasterApp" ng-controller="mainCtrl">

	<div class="container">

		<nav th:replace="fragments/navbar :: navbar"></nav>

		<div class="row col-sm-12">
			<h1>Insurance engine</h1>
			<p>Under development.</p>
		</div>
		
		<div class="row col-sm-12">
			<h2>Swagger APIs</h2>
			<ul>
				<li><a href="/api/contracts/swagger-ui.html">Contracts</a></li>
				<li><a href="/api/legal-entities/swagger-ui.html">Legal entities</a></li>
				<li><a href="/api/portfolios/swagger-ui.html">Portfolios</a></li>
				<li><a href="/api/assets/swagger-ui.html">Assets</a></li>
				<li><a href="/api/orders/swagger-ui.html">Orders</a></li>
				<li><a href="/api/accounting/swagger-ui.html">Accounting</a></li>
				<li><a href="/api/contract-creation/swagger-ui.html">Contract creation</a></li>
				<li><a href="/api/agreements/swagger-ui.html">Agreements</a></li>
			</ul>
			<small>The different gateways must be started for the apis to be operational.</small>
		</div>

	</div>

	<!--
	<script src="/webjars/angularjs/1.6.4/angular.min.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-resource.min.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-route.min.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-cookies.min.js"></script>
	<script>
		var app = angular.module('insuranceApp', [ "ngResource", "ngRoute", "ngCookies" ]);
		app.controller('mainCtrl',
			function($scope, $resource, $http, $cookies) {
		});
	</script>
	-->
</body>
</html>