<head th:fragment="header">
<title>Insurance Engine Showcase</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Rolemaster engine" />
<meta name="author" content="lab.cabrera@gmail.com" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/webjars/angular-ui-select/0.19.6/select.min.css" />
</head>
